.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 2px dashed black !important;
}

.lvl-target {
  /* 
  applied to all drop targets when a drag operation begins 
  removed when the drag operation ends
  used to indicate drop targets on a page 
  */
  background-color: #ddd;
  opacity: .5;
}

[draggable] {
  /* not applied by the directive, but useful to indicate a draggable element */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  border:1px solid black;
}

div.nodeContainer > div {
  position:absolute;
  z-index: 10;
  height: 80px;
  width:130px;
  margin-bottom: 20px;
  background-color: #cccccc;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: move;
}

div.nodeContainer div p.nodename {
  font-size:1em;
}

div.nodeContainer div p.nodeselected {
  padding-left:20px;
  vertical-align: bottom;
  text-align: right;
  padding-right: 15px;
  font-size:0.7em;
}

div.nodeContainer > div > table{
  height:100%;
  width:100%;
}
div.nodeContainer > div > table > tbody > td.node-content {
  display:inline-block;
  cursor: move;
}

div.nodeContainer > div > table .vborder {
  height:5px;
}

div.nodeContainer > div > table .hborder {
  width:5px;
}

div.nodeContainer > div > table .node-border {

}

[class^="icon-"], [class*=" icon-"] {
  margin-top:0px !important;
}

div#workspace {
  height: 800px;
  width:1600px;
}

.newconnection{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAADCAYAAAC56t6BAAAAFUlEQVQIW2NUV//0/+ZNPkZGdAYDAKVEDAMrZGo4AAAAAElFTkSuQmCC) repeat;
}

.newconnection,
.connection {
  cursor:default;
    position: absolute;
    width: 2px;
    height:2px;
    background-color: #036;
    z-index: 0;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.connectionStart{
  height:85%;
}
.connectionEnd{
    position:absolute;
    height:16px;
    width:16px;
    left:-7px;
    bottom:0px;
    text-align: center;
    background:url('../img/connarrow.png') repeat;
}
.connCreate{
    z-index: 0;
    position: absolute;
    height:24px;
    width:24px;
    left:115px;
    top:28px;
    background:url('../img/conncreate.png') repeat;
}


div.nodeContainer{
  height:0px;
}